target
mat_data.txt
save_state
*png~
/quant.ew/files/system/player/tmp/
/quant.ew/ewext.dll
/quant.ew/ewext0.dll
/quant.ew/ewext1.dll
/blob_guy/blob_guy/blob_guy.dll
/blob_guy/target

# Nix
/result
/result-man
